$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-action: "\e900";
$icon-adventure: "\e901";
$icon-animation: "\e902";
$icon-arrow: "\e903";
$icon-chart: "\e904";
$icon-clapper-board: "\e905";
$icon-comedy: "\e906";
$icon-crime: "\e907";
$icon-documentary: "\e908";
$icon-drama: "\e909";
$icon-family: "\e90a";
$icon-fantasy: "\e90b";
$icon-filled-star: "\e90c";
$icon-film: "\e90d";
$icon-fire: "\e90e";
$icon-history: "\e90f";
$icon-home: "\e910";
$icon-horror: "\e911";
$icon-image: "\e912";
$icon-music: "\e913";
$icon-mystery: "\e914";
$icon-pallet: "\e915";
$icon-person: "\e916";
$icon-romance: "\e917";
$icon-sciencefiction: "\e918";
$icon-search: "\e919";
$icon-signin: "\e91a";
$icon-signout: "\e91b";
$icon-star: "\e91c";
$icon-thriller: "\e91d";
$icon-tvmovie: "\e91e";
$icon-war: "\e91f";
$icon-western: "\e920";

